<form class="collection-form">
  <div class="main-form">
    <h2>CASH COLLECTION</h2>
    <div class="collection-section">
      <label class="form-label" for="location">LOCATION NAME</label>
      <select
        class="form-control custom-select"
        id="location"
        name="location"
        (change)="onLocationSelect($event)"
      >
        <option value=""></option>
        <option
          *ngFor="let locationItem of locations"
          [ngValue]="locationItem.locationId"
        >
          {{ locationItem.address?.streetName }} ,
          {{ locationItem.address?.city }}
        </option>
      </select>
    </div>

    <div *ngIf="location.locationId">
      <div class="collection-section collection-section1">
        <button
          class="custom-button"
          type="SUBMIT"
          (click)="showMachineCollectionForm()"
          *ngIf="!showMachineCollectionFormView"
        >
          ADD A COLLECTION
        </button>
        <div class="container" *ngIf="showMachineCollectionFormView">
          <div>
            <label class="form-label">START DATE</label>
            <input type="date" name="startdate" [(ngModel)]="startdate" />
          </div>
          <div>
            <label class="form-label" for="endDate">END DATE</label>
            <input type="date" name="endDate" [(ngModel)]="enddate" />
          </div>
          <div>
            <label class="form-label" for="endDate">AMOUNT FOR MACHINE</label>
            <input type="number" name="amount" [(ngModel)]="amount" />
          </div>
          <div class="main-form login-form">
            <button
              class="non-link"
              type="SUBMIT"
              class="custom-button"
              (click)="submitCollectionDetail()"
              style="margin-bottom: 10px"
            >
              SUBMIT COLLECTION
            </button>
            <button
              class="non-link"
              type="SUBMIT"
              class="custom-button-cancel"
              (click)="hideMachineCollectionForm()"
            >
              CANCEL
            </button>
          </div>
        </div>
        <table
          *ngIf="this.machineCollections.length != 0"
          class="collection-table"
        >
          <thead>
            <tr>
              <th>MACHINE</th>
              <th>START DATE</th>
              <th>END DATE</th>
              <th>AMOUNT</th>
              <th>DELETE</th>
              <!-- Add more headers as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.machineCollections; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.startDate }}</td>
              <td>{{ item.endDate }}</td>
              <td>{{ item.amount }}</td>
              <td>
                <button (click)="deletemachine(i)">delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="collection-section">
        <div class="collection-summary">
          <span>TOTAL AMOUNT COLLECTED : </span
          ><strong>{{ totalAmountCollected }}</strong>
        </div>
        <div class="collection-summary">
          <span> OWNER SHARE AMOUNT : </span>
          <strong>{{ ownerShareAmount }}</strong>
        </div>
        <div class="collection-summary">
          <span> VENDOR SHARE AMOUNT : </span>
          <strong>{{ vendorShareAmount }}</strong>
        </div>
      </div>

      <div class="collection-section">
        <label class="form-label" for="owner-share" style="display: inline"
          >IS OWNER SHARE GIVEN TO THEM?</label
        >
        <input
          style="margin-left: 10px; width: auto"
          id="owner-share"
          type="checkbox"
          name="cashHandedOverToOwner"
          [(ngModel)]="cashHandedOverToOwner"
        />
      </div>
      <div class="collection-section">
        <label class="form-label" for="cashHandedOverTo"
          >CASH RECIEVED BY</label
        >
        <input
          style="width: 100%"
          id="cashHandedOverTo"
          type="text"
          name="cashHandedOverTo"
          [(ngModel)]="cashHandedOverTo"
        />
      </div>
    </div>

    <div
      class="main-form login-form"
      style="display: flex; justify-content: space-between"
    >
      <button
        type="submit"
        class="custom-button"
        (click)="saveCashCollection()"
      >
        Submit
      </button>
      <button
        type="submit"
        class="custom-button-reset"
        (click)="resetCollectionData()"
      >
        Reset
      </button>
    </div>
  </div>
</form>
